# OS
.DS_Store
*.swp
*.swo
*.swl
*.swm
*.swn
.vscode
.idea


# Build
output
build

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tools, specifically when used with LiteIDE
*.out

# IDE
.idea/
*.iml
.idea/*
home/*

# GoReleaser
dist
node_modules

# DB
db
